<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:usesCleartextTraffic="true">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.dts.base.appGlobals"
        android:allowBackup="true"
        android:icon="@drawable/tom_wms"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/tom_wms"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Transacciones.ControlCalidad.frm_encuesta_calidad"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Transacciones.ControlCalidad.ControlCalidad"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".frm_datos_stock_res"
            android:exported="false" />
        <activity
            android:name=".frm_reabastecimiento_manual"
            android:exported="false" />
        <activity
            android:name=".frm_verificacion_consolidada_detalle"
            android:exported="false" />
        <activity android:name=".Transacciones.Packing.frm_lista_packing_lp" />
        <activity
            android:name="com.dts.tom.Transacciones.Packing.frm_lista_packing_lotes"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Transacciones.Packing.frm_preparacion_packing_bulto" />
        <activity android:name=".Transacciones.Packing.frm_preparacion_packing" />
        <activity android:name=".Transacciones.Packing.frm_lista_packing" />
        <activity android:name=".Transacciones.Recepcion.frm_rec_ftos" />
        <activity android:name=".Transacciones.InventarioCiclico.frm_inv_cic_guardar" />
        <activity android:name=".Transacciones.InventarioCiclico.frm_inv_cic_nuevo" />
        <activity android:name=".Transacciones.InventarioCiclico.frm_inv_cic_conteo" />
        <activity android:name=".Transacciones.InventarioCiclico.frm_inv_cic_add" />
        <activity android:name=".Transacciones.Verificacion.frm_list_prod_reemplazados" />
        <activity android:name="com.dts.ladapt.Verificacion.list_adapt_reemplazos" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_agrega_prd" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_nuevo_reg" />
        <activity android:name="com.dts.ladapt.list_adapt_tareas_inventario" />
        <activity android:name=".Transacciones.Inventario.frm_list_inventario" />
        <activity android:name="com.dts.ladapt.list_adapt_detalle_reemplazo_picking" />
        <activity android:name="com.dts.ladapt.list_adapt_detalle_tareas_picking" />
        <activity android:name="com.dts.ladapt.list_adapt_tareashh_picking" />
        <activity android:name=".Transacciones.Recepcion.frmFirma" />
        <activity android:name=".Transacciones.Recepcion.frm_list_rec_prod_detalle" />
        <activity android:name=".list_view_menu" />
        <activity android:name=".Transacciones.Recepcion.frm_recepcion_datos" />
        <activity android:name=".Transacciones.Recepcion.frm_list_rec_prod" />
        <activity android:name=".Transacciones.Recepcion.frm_detalle_ingresos" />
        <activity android:name=".Transacciones.Recepcion.frm_lista_tareas_recepcion" />
        <activity android:name=".Transacciones.Packing.frm_Packing" />
        <activity android:name=".Transacciones.ConsultaStock.frm_consulta_stock" />
        <activity android:name=".Transacciones.ConsultaStock.frm_consulta_stock_detalleCI" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_ini_verificados" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_ini_verificacion" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_ini_contados" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_ini_conteo" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_ini_tramos" />
        <activity android:name=".Transacciones.Verificacion.frm_danado_verificacion" />
        <activity android:name=".Transacciones.Verificacion.frm_verificacion_datos" />
        <activity android:name=".Transacciones.Verificacion.frm_detalle_tareas_verificacion" />
        <activity android:name=".Transacciones.Picking.frm_list_prod_reemplazo_picking" />
        <activity android:name=".Transacciones.Picking.frm_danado_picking" />
        <activity android:name=".Transacciones.Picking.frm_picking_datos" />
        <activity android:name=".Transacciones.Picking.frm_detalle_tareas_picking" />
        <activity android:name="com.dts.ladapt.CambioUbicacion.list_adapter_detalle_cambio_ubic" />
        <activity android:name="com.dts.ladapt.CambioUbicacion.list_view_tareas_cambio_ubic" />
        <activity android:name=".Transacciones.CambioUbicacion.frm_cambio_ubicacion_dirigida" />
        <activity android:name=".Transacciones.CambioUbicacion.frm_cambio_ubicacion_ciega" />
        <activity android:name=".Transacciones.CambioUbicacion.frm_detalle_cambio_ubicacion" />
        <activity android:name=".Transacciones.CambioUbicacion.frm_tareas_cambio_ubicacion" />
        <activity android:name=".Transacciones.Verificacion.frm_list_prod_reemplazo_verif" />
        <activity android:name=".Transacciones.ProcesaImagen.frm_imagenes" />
        <activity android:name=".Transacciones.ProcesaImagen.frm_imagen_completa" />
        <activity android:name=".Transacciones.Picking.frm_editar_ubicacion_picking" />
        <activity android:name=".Transacciones.Verificacion.frm_verificacion_consolidada_detalle" />
        <activity android:name=".Transacciones.Reabastecimiento.frm_reabastecimiento_manual" />
        <activity android:name=".Transacciones.ReubicarStockRes.frm_lista_stock_res" />
        <activity android:name=".Transacciones.ReubicarStockRes.frm_datos_stock_res" />
        <activity android:name=".Transacciones.Reabastecimiento.frm_datos_reabastecimiento" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.dts.servicios.srvBaseJob"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.dts.servicios.srvCantTareas"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="com.dts.tom.PBase"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.dts.tom.Mainmenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dts.tom.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>