<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dts.tom">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dts.base.appGlobals"
        android:allowBackup="true"
        android:icon="@drawable/tom_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/tom_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->


        <activity android:name=".Transacciones.InventarioCiclico.frm_inv_cic_conteo" />
        <activity android:name=".Transacciones.InventarioCiclico.frm_inv_cic_add" />
        <activity android:name="com.dts.ladapt.list_adapt_verificados" />
        <activity android:name="com.dts.ladapt.list_adapt_contados" />
        <activity android:name=".Transacciones.Verificacion.frm_list_prod_reemplazados" />
        <activity android:name="com.dts.ladapt.Verificacion.list_adapt_reemplazos" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_agrega_prd" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_nuevo_reg" />
        <activity android:name="com.dts.ladapt.list_adapt_tramos_inv_ini" />
        <activity android:name="com.dts.ladapt.list_adapt_tareas_inventario" />
        <activity android:name=".Transacciones.Inventario.frm_list_inventario" />
        <activity android:name="com.dts.ladapt.list_adapt_detalle_reemplazo_picking" />
        <activity android:name="com.dts.ladapt.list_adapt_detalle_tareas_picking" />
        <activity android:name="com.dts.ladapt.list_adapt_tareashh_picking" />
        <activity android:name=".frmFirma" />
        <activity android:name="com.dts.ladapt.list_adapt_detalle_rec_prod" />
        <activity android:name=".Transacciones.Recepcion.frm_list_rec_prod_detalle" />
        <activity android:name="com.dts.ladapt.list_adapt_detalle_recepcion" />
        <activity android:name="com.dts.ladapt.list_adapter_tareashh" />
        <activity android:name=".list_view_menu" />
        <activity android:name=".Transacciones.Recepcion.frm_recepcion_datos" />
        <activity android:name=".Transacciones.Recepcion.frm_list_rec_prod" />
        <activity android:name=".Transacciones.Recepcion.frm_detalle_ingresos" />
        <activity android:name=".frm_lista_tareas_principal" />
        <activity android:name=".Transacciones.Packing.frm_Packing" />
        <activity android:name=".Transacciones.ConsultaStock.frm_consulta_stock" />
        <activity android:name=".Transacciones.ConsultaStock.frm_consulta_stock_detalleCI" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_ini_verificados" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_ini_verificacion" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_ini_contados" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_ini_conteo" />
        <activity android:name=".Transacciones.InventarioInicial.frm_inv_ini_tramos" />
        <activity android:name=".Transacciones.Verificacion.frm_danado_verificacion" />
        <activity android:name=".Transacciones.Verificacion.frm_verificacion_datos" />
        <activity android:name=".Transacciones.Verificacion.frm_detalle_tareas_verificacion" />
        <activity android:name=".Transacciones.Picking.frm_list_prod_reemplazo_picking" />
        <activity android:name=".Transacciones.Picking.frm_danado_picking" />
        <activity android:name=".Transacciones.Picking.frm_picking_datos" />
        <activity android:name=".Transacciones.Picking.frm_detalle_tareas_picking" />
        <activity android:name="com.dts.ladapt.CambioUbicacion.list_adapter_detalle_cambio_ubic" />
        <activity android:name="com.dts.ladapt.CambioUbicacion.list_view_tareas_cambio_ubic" />
        <activity android:name=".Transacciones.CambioUbicacion.frm_cambio_ubicacion_dirigida" />
        <activity android:name=".Transacciones.CambioUbicacion.frm_cambio_ubicacion_ciega" />
        <activity android:name=".Transacciones.CambioUbicacion.frm_detalle_cambio_ubicacion" />
        <activity android:name=".Transacciones.CambioUbicacion.frm_tareas_cambio_ubicacion" />
        <activity android:name=".Transacciones.Verificacion.frm_list_prod_reemplazo_verif" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PBase"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Mainmenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>